.footer-forms {
  .copyright-wrap {
    border-top: solid 1px $ac-border-blue;
    font-size: .75em;
    padding: $global-padding 0;
    div {
      display: flex;
      align-items: center;
      flex-direction: column;
      @include breakpoint(large) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: unset;
        p, a { flex-basis: 50%;}
        a { text-align: right;}
      }
    }
    a {
      &:link, &:visited {
        color: $ac-text;
      }
      &:hover, &:active {
        color:$ac-logo-blue;
      }
    }
  }
}