// ====== Prevent a flash of unstyled content ======
.no-js {
  @include breakpoint(small only) {
    .title-bar, #mainNavWrap {
      display: none;
    }
  }
  @include breakpoint(medium) {
    .title-bar, #mainNavWrap {
      display: none;
    }
  }
}

// ======= Prevent Scrolling on mobile when menu is opened ========
body.noScroll {
  @include breakpoint(medium down) {
    overflow: hidden;
  }
}

// ======= Main Navigation ========
.hideNav {
  transform: translate3d(0,-100%,0);
}
#mainNavWrap {
  font-size: 80%;
  @include breakpoint(medium) {
    font-size: 85%;
    padding-top: $global-padding/2;
  }
  @include breakpoint(large) {
    font-size: 90%;
  }
  transition: all 0.8s ease;
  background-color: $ac-white-space;
  border-bottom: solid 1px $ac-shade-blue;
  a {
    @extend %links-main-nav;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .masthead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $ac-space/4 $global-padding/2;
    @include breakpoint(medium) {
      padding: 0 $global-padding $ac-space/4 $global-padding;
    }
    img {
      width: 120px;
      @include breakpoint(medium) {
        width: 150px;
      }
      @include breakpoint(large) {
        width: 180px;
      }
    }
    ul {
      font-weight: $ac-body-bold;
      display: flex;
      li {
        margin-left: $global-margin*2;
        position: relative;
        @include breakpoint(large) {
          margin-left: $global-margin*4;
        }
        @include breakpoint(large) {
          &.ac-phone-icon a:before, &.ac-brochure-icon a:before {
            content: " ";
            position: absolute;
            height:18px;
            left: -22px;
            background-color: $ac-text;
            transition: background-color 0.3s ease;
          }
          &.ac-phone-icon a:before {
            top: 7px;
            width: 18px;
            background-image: url(../img/icons/phone.svg);
          }
          &.ac-phone-icon a:hover:before {
            background-color: $ac-logo-blue;
          }
        }
      }
    }
  }
}


