// 1. Cabin Categories


// ===== 1. Cabin Categories ========
.cabinCategories {
  @extend %section-padding;
  ul {
    list-style: none;
    margin: 0;
  }
  header {
    text-align: left;
    @extend %header-padding;
    @include breakpoint(medium) {
      text-align: center;
    }
  }
  .all-cabin-amenities {
    padding-bottom: $global-padding*3;
    @include breakpoint(medium) {
      padding-bottom: $global-padding*4;
    }
    @include breakpoint(large) {
      padding-bottom: $global-padding*6;
    }
    ul {
      @include breakpoint(medium) {
        display: flex;
        flex-wrap: wrap;
      }
    }
    li {
      padding-left: $global-padding*1.5;
      position: relative;
      @include breakpoint(medium) {
        flex-basis: 50%;
      }
      &:before {
        content:'';
        position: absolute;
        width: 17px;
        height: 13px;
        top:8px;
        left:0;
        background: url(../img/icons/check.svg) no-repeat;
        @include breakpoint(medium) {
          top:10px;
        }
        @include breakpoint(large) {
          top:12px;
        }
      }
    }
  }
  ul.accordion {
    > li:nth-child(odd) a {
      background-color: $ac-light-blue;
    }
    > li:nth-child(even) a {
      background-color: lighten($ac-light-blue, 3%);
    }
    > li a:hover {
      background-color: darken($ac-light-blue, 7%);
    }
    > li a:hover, &.is-active a {
      background-color: darken($ac-light-blue, 7%);
    }
    > li {
      border-bottom: solid 1px $ac-border-blue;
      &:first-child {
        border-top: solid 1px $ac-border-blue;
      }
    }
  }
  .accordion-title {
    font-size: 100%;
    border: none;
    background-color: unset;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &:visited { color: unset;}
    .left {
      flex-basis: 65%;
      color: $ac-text;
      h3 {
        font-family: $body-font-family;
        font-weight: $ac-body-normal;
        font-size: 100%;
        span {
          font-weight: $ac-body-bold;
          padding-right: $global-padding;
        }
      }
      p { margin-bottom: 0;}
    }
    .right {
      flex-basis: 35%;
      text-align: right;
      font-size: .85em;
      p {
        line-height: 1;
        padding-right: 30px;
        color: $ac-link;
      }
    }
  }
  .accordion-title p::after {
    display: block;
    position: absolute;
    content: '';
    width: 18px;
    height: 12px;
    top: $global-padding*1.75;
    right: 1rem;
    margin-top: -3px;
    background: url(../img/icons/arrow-up-down-blue.svg) no-repeat;
    background-size: 18px;
    border: none;
    transition: transform 0.25s ease-in-out;
    @include breakpoint(medium) {
      background-size: 20px;
      width: 20px;
    }
    @include breakpoint(large) {
      background-size: 22px;
      width: 22px;
    }
  }
  .is-active .accordion-title p::after {
    top: 25%;
    transform: rotate(180deg);
  }
  .is-active>.accordion-title::before {
    content: '';
  }
  .accordion-title::before {
    content: '';
  }
  .accordion-content {
    border: none;
    @extend %section-padding-half;
    .accordion-content-wrap {
      display: flex;
      flex-direction: column;
    }
    .img-360-wrap {
      padding-bottom: $global-padding*2;
      @include breakpoint(medium) {
        width: 65%;
        margin: 0 auto;
      }
      @include breakpoint(large) {
        width: 50%;
        padding-bottom: $global-padding*6;
      }
    }
    .cabin-details {
      @include breakpoint(large) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .cabin-amenities {
        padding-bottom: $global-padding*2;
        @include breakpoint(medium) {
          width: 65%;
          margin: 0 auto;
        }
        @include breakpoint(large) {
          width: unset;
          margin: unset;
          flex-basis: 30%;
        }
        li {
          padding-bottom: $global-padding;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;
          @include breakpoint(medium) {
            padding-bottom: $global-padding*2;
          }
          .cabin-icon {
            flex-basis: 65px;
            padding-top: $global-padding/2;
            @include breakpoint(medium) {
              flex-basis: 73px;
            }
          }
          .cabin-text {
            flex-basis: calc(100% - 65px);
            padding-left: $global-padding;
            @include breakpoint(medium) {
              flex-basis: calc(100% - 73px);
            }
          }
        }
      }
      .deck-image {
        @include breakpoint(medium) {
          width: 68%;
          margin: 0 auto;
        }
        @include breakpoint(large) {
          width: unset;
          margin: unset;
          flex-basis: 65%;
        }
      }
    }
  }
}

.ship-facilities {
  @extend %section-padding;
  header {
    @extend %header-padding;
    @include breakpoint(medium) {
      text-align: center;
    }
  }
  .main-facilities {
    list-style: none;
    margin: 0;
    h3, img {
      padding-bottom: $global-padding;
    }
    @include breakpoint(medium) {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      padding-bottom: $global-padding;
      @include breakpoint(medium) {
        flex-basis: 50%;
        &:nth-child(odd) {
          padding-right: $global-padding;
        }
        &:nth-child(even) {
          padding-left: $global-padding;
        }
      }
      @include breakpoint(large) {
        flex-basis: 33%;
        &:nth-child(odd) {
          padding-right: 0;
        }
        &:nth-child(even) {
          padding-left: 0;
        }
        &:nth-child(3n+1) {
          padding-right: $global-padding;
        }
        &:nth-child(3n+2) {
          padding-right: $global-padding/2;
          padding-left: $global-padding/2;
        }
        &:nth-child(3n+3) {
          padding-left: $global-padding;
        }
      }
    }
  }
  > div > h3 {
      @extend %headline-padding;
      text-align: center;
    padding-top: $global-padding*4;
      @include breakpoint(small only) {
        text-align: left;
        padding-top: $global-padding;
      }
  }
  .additional-facilities {
    list-style: none;
    margin: 0;
    li {
      position: relative;
      padding-left: $global-padding*2;
      &::before {
        content: '';
        position: absolute;
        width: 17px;
        height: 13px;
        top: 7px;
        left: 0;
        background: url(../img/icons/check.svg) no-repeat;
        @include breakpoint(medium) {
          top: 5px;
        }
        @include breakpoint(large) {
          top: 5px;
        }
      }
    }
    @include breakpoint(medium) {
      display: flex;
      flex-wrap: wrap;
      li {
        line-height: 1.2;
        flex-basis: 30%;
        padding-bottom: $global-padding*1.5;
        @include breakpoint(medium) {
          &:nth-child(3n+1) {
            margin-right: 2.5%;
          }
          &:nth-child(3n+2) {
            margin-right: 1.25%;
            margin-left: 1.25%;
          }
          &:nth-child(3n+3) {
            margin-left: 2.5%;
          }
        }
        @include breakpoint(large) {
          flex-basis: 23%;
          &:nth-child(3n+1) {
            margin-right: 0;
          }
          &:nth-child(3n+2) {
            margin-right: 0;
            margin-left: 0;
          }
          &:nth-child(3n+3) {
            margin-left: 0;
          }
          &:nth-child(4n+1) {
            margin-right: 2%;
          }
          &:nth-child(4n+2), &:nth-child(4n+3) {
            margin-right: 1%;
            margin-left: 1%;
          }
          &:nth-child(4n+4) {
            margin-left: 2%;
          }
        }
      }
    }
  }
}

.life-on-board {
  @extend %section-padding;
  header {
    text-align: center;
    @extend %header-padding;
    h2 {
      @extend %headline-padding;
    }
  }
  img {
    margin-top: $global-margin/2;
    margin-bottom: $global-margin*2;
    @include breakpoint(medium) {
      margin-bottom: $global-margin*3;
    }
    @include breakpoint(large) {
      margin-bottom: 0;
    }
  }
  .video-container {
    margin-bottom: $global-margin*2;
    @include breakpoint(medium) {
      margin-bottom: $global-margin*3;
    }
    @include breakpoint(large) {
      margin-bottom: 0;
    }
  }
}

.upcoming-trips {
  li {
    @include breakpoint(small only) {
      line-height: 1;
    }
    @include breakpoint(medium only) {
      line-height: 1.2;
    }
  }
  a { font-weight: $ac-body-bold;}
}