// ====== Prevent as a flash of unstyled content ======
.no-js {
  @include breakpoint(small only) {
    .title-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.hideNav {
  transform: translate3d(0,-100%,0);
}
#mainNavWrap {
  font-size: 90%;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 9999;
  transition: all 0.8s ease;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .client-login {
    text-transform: uppercase;
    font-size:70%;
    display: flex;
    justify-content: flex-end;
  }
  .masthead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 150px;
      @include breakpoint(medium) {
        width: 200px;
      }
    }
    ul {
      font-weight: $ac-body-bold;
      display: flex;
    }
  }
  #mainNav {
    display: flex;
    flex-direction: column;
    @include breakpoint(large) {
      flex-direction: row;
      justify-content: space-between;
    }
    .client-login {
      flex: none;
      justify-content: flex-start;
    }
  }
}

.fixTripNav {
  position:fixed;
  top:0;
  width:100%;
}

.moveDownTripNav {
  top:200px;
}

#tripDetailsNavWrap {
  transition: all 0.8s ease;
}

