body {
  font-size: $global-font-size;
  @include breakpoint (medium) {
    font-size: $global-font-size * 1.125;
  }
  @include breakpoint (large) {
    font-size: $global-font-size * 1.25;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'museo', Georgia, Cambria, serif;
  font-weight: $ac-headlines;
}

p {
  margin-bottom: 1.5em;
}
a {
  color: $ac-link;
  transition: all .3s ease;
}
a:visited {
  color: $ac-visited;
}
a:focus, a:hover {
  color: $ac-hover;
  opacity: 1;
}

p.list-title {
  font-weight: $ac-body-bold;
  margin-bottom: 0;
}


