// ===== Colors ======
$ac-text: #000;
$ac-white: #fff;
$ac-logo-blue: #0067A5;
$ac-light-blue: #E2FAFF;
//$ac-shade-blue: darken($ac-light-blue,10%);
$ac-shade-blue: #BFD6E1;
$ac-border-blue: #A5C2CF;
$ac-yellow: #FFEE5B;
$ac-orange: #FF9800;
$ac-brown: #B26A00;

//===== White Space =====
$ac-space: 2.5em; // 40px

//===== Typography =====
$ac-body-bold: 700;